colorSearchBoxText = #fff
colorSearchBox = rgb(200, 200, 200)

.SearchBox
  color colorSearchBoxText
  .input
    border none
    width 100%
    background-color rgba(colorSearchBox, 0.3)
    padding (homeComponentMargin / 2) homeComponentMargin
