structIconSize = 14px
structBorderRadius = 3px
headerPadding = 5px
iconMargin = 5px
colorStructHeader = rgb(153, 153, 153)
colorHeaderTitle = rgb(40, 40, 40)
colorClassIcon = rgb(230, 126, 34)
colorClassIconHover = rgb(46, 204, 113)
colorFieldIcon = rgb(241, 196, 15)
colorFieldIconHover = rgb(231, 76, 60)
colorTypeInt = rgb(46, 204, 113)
colorTypeBool = rgb(231, 76, 60)
colorTypeString = rgb(52, 152, 219)
colorTypeOther = rgb(230, 126, 34)
colorDelete = colorFieldIconHover

.Struct
  display inline-block
  border-radius structBorderRadius
  overflow hidden
  input
    background-color transparent
    border none
    text-overflow ellipsis
  .header
    position relative
    background-color colorStructHeader
    padding headerPadding
    .name
      padding-left 20px
      padding-right 5px
      color colorHeaderTitle
      font-weight 700
      white-space nowrap
    .icon
      overflow hidden
      cursor pointer
      .p
        display none
      &:hover
        .c
          display none
        .p
          display block
  .icon
    width structIconSize
    height structIconSize
    border-radius 10px
    display inline-block
    font-size 9px
    font-weight 700
    text-align center
    position absolute
    margin-top iconMargin
    line-height 1.5
  .delete
    &.icon
      background-color colorDelete
      color rgb(236, 240, 241)
      position absolute
      right 0
      top 0
      margin (headerPadding + iconMargin) headerPadding headerPadding headerPadding
  .class
    &.icon
      background-color colorClassIcon
      color rgb(236, 240, 241)
      &:hover
        background-color colorClassIconHover
  .field
    &.icon
      background-color colorFieldIcon
      color rgb(40, 40, 40)
      overflow hidden
      cursor pointer
      .f
        display block
      .f, .x
        height 100%
      &:hover
        background-color colorDelete
        .f
          display none
        .x
          display block
    .left
      float left
      color rgb(236, 240, 241)
      padding-right 20px
    .right
      float right
      input
        text-align right
    .name
      padding-left 20px
    .type
      &.int
        color colorTypeInt
      &.bool
        color colorTypeBool
      &.string
        color colorTypeString
      &.other
        color colorTypeOther
  .fields
    margin 0
    padding 0
    & > .field
      list-style-type none
      height 30px
      clear both
      overflow hidden
      background-color rgb(102, 102, 102)
      &:hover
        background-color rgb(130, 130, 130)

.Struct .field .left, .Struct .field .right
  display block
  padding 5px

